<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller" ng-init="init()">

    <% include ../templates/header.ejs %>


    <!-- Insert Body here -->
    <div class="container-fluid ng-cloak">
      <div class="offset-md-2 col-md-8 secondary-page-header">
        <h2>Welcome, {{userName}}</h2>
      </div>
      <div class="row dashboard-panel-container">
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4 offset-lg-2 col-lg-4">
          <div class="panel">
            <div class="dashboard-panel">
              <h3>My Period</h3>
              <div ng-show="userIsOnPeriod">
                <p>
                  It has been {{daysSince}} day(s) since your period started.
                </p>
                <a href="/profile#endPeriodModal" class="btn-link"><button class="btn btn-primary">Record end of period</button></a>
                <a href="/profile#periodSymptomModal" class="btn-link"><button class="btn btn-primary">Add period symptoms</button></a>
              </div>
              <div ng-show="!userIsOnPeriod">
                <p>
                  <span ng-show="!noPeriod">It has been {{daysSince}} day(s) since your last period ended.</span>
                  <span ng-show="noPeriod">You do not have any period history yet.</span>
                </p>
                <a href="/profile#startPeriodModal" class="btn-link"><button class="btn btn-primary">Record start of period</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-4 offset-lg-0 col-lg-4">
          <div class="panel">
            <div class="dashboard-panel">
              <h3>My Birth Control</h3>
              <div ng-show="activePrescriptions">
                You currently have the following active prescriptions:
                <div ng-repeat="presc in activePrescriptions">
                  {{presc.prescription.name}}
                </div>
              </div>
              <div ng-show="!activePrescriptions"><p>You currently have no active presctiptions.</p></div>
              <a href="/profile#prescriptionSymptomModal" class="btn-link"><button class="btn btn-primary">Add birth control symptoms</button></a>
            </div>
          </div>
        </div>
      </div>
	</div>

    <% include ../templates/footer.ejs %>
    <script src="resources/js/dashboard.js"></script>
  </body>
</html>
