<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller">

    <% include ../templates/header.ejs %>


    <!-- Insert Body here -->
    <div class="container">
      <div class="row">
        <div align="center" class="offset-md-2 col-md-8">
          <h2>History</h2>
        </div>
      </div>
    </div>

    <% include ../templates/footer.ejs %>
    <script src="resources/js/history.js"></script>
  </body>
</html>