<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller" ng-init="init()">

    <% include ../templates/header.ejs %>


    <!-- Insert Body here -->
	<div class="container-fluid">
		<div class="offset-md-2 col-md-8 page-header">
			<h2>{{userName}}'s History</h2>
		</div>
		<div class="row panel-container">
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
				<div class="panel">
					<div class="panel-header">
						My period history
					</div>
					<div class="panel-body">
						Information goes here
					</div>
				</div>
			</div>
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
				<div class="panel">
					<div class="panel-header">
						My prescription history
					</div>
					<div class="panel-body">
						Information goes here
					</div>
				</div>
			</div>
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-6 offset-lg-0 col-lg-6">
				<div class="panel">
					<div class="panel-header">
						My stats
					</div>
					<div class="panel-body">
						My stats go here
					</div>
				</div>
			</div>
		</div>
	</div>

    <% include ../templates/footer.ejs %>
    <script src="resources/js/history.js"></script>
  </body>
</html>