<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller">

    <% include ../templates/header.ejs %>


    <!-- Insert Body here -->
	<div class="container-fluid">
		<div class="offset-md-2 col-md-8 page-header">
			<h2>MyName's History</h2>
		</div>
		<div class="row panel-container">
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
				<div class="panel">
					<div class="panel-header">
						My period history
					</div>
					<div class="panel-body">
						Information goes here
					</div>
				</div>
			</div>
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
				<div class="panel">
					<div class="panel-header">
						My prescription history
					</div>
					<div class="panel-body">
						Information goes here
					</div>
				</div>
			</div>
			<div class="offset-sm-1 col-sm-10 offset-md-0 col-md-6 offset-lg-0 col-lg-6">
				<div class="panel">
					<div class="panel-header">
						My stats
					</div>
					<div class="panel-body">
						My stats go here
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--
    <div class="container-fluid">
      <div class="row">
        <div align="center" class="offset-md-2 col-md-8">
          <h2>Username's history</h2>
        </div>
      </div>
    </div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>My period history</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>blank space for data</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-3">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th> My prescription history </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>blank space for data</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>My stats</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Stats go here</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	-->

    <% include ../templates/footer.ejs %>
    <script src="resources/js/history.js"></script>
  </body>
</html>