<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller">
    <div class="container">
      <div class="row">
        <div align="center" class="offset-md-2 col-md-8">
          <h1>Welcome to Obie!</h1>
          <div>
            <button class="btn btn-primary">Log In</button>
            <button class="btn btn-primary">Sign up</button>
          </div>
        </div>
      </div>
    </div>

    <% include ../templates/footer.ejs %>
    <script src="resources/js/index.js"></script>
  </body>
</html>