<!DOCTYPE html>
<html lang="en" ng-app="obie">
  <head>
      <% include ../templates/head.ejs %>
  </head>

  <body ng-controller="controller" ng-init="init()">

    <% include ../templates/header.ejs %>
    <!-- Insert Body here -->
    <div class="container-fluid">
      <div class="alert alert-success alert-dismissable fade show" role="alert" id="alertSuccess" ng-show="alertSuccess">
        {{successMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="offset-md-2 col-md-8 page-header">
        <h2>{{userName}}'s Profile</h2>
      </div>
      <div class="row panel-container">
        <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
          <div class="panel">
            <div class="panel-header">
              My information
            </div>
            <div class="panel-body">
             Name: {{userName}}
              <button class="btn btn-primary" data-toggle="modal" data-target="#nameModal">Edit preferred name</button>
             Email: {{email}}
			</div>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-6 offset-lg-0 col-lg-6">
          <div class="panel">
            <div class="panel-header">
              My reminders
            </div>
            <div class="panel-body">
              <strong>Birth control reminders</strong>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="bcDaily">
                <label class="custom-control-label" for="bcDaily">Birth control daily reminder</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="bcRefill">
                <label class="custom-control-label" for="bcRefill">Birth control refill reminder</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="bcRenewal">
                <label class="custom-control-label" for="bcRenewal">Birth control renewal reminder</label>
              </div>
              <strong>Yearly appointment reminders</strong>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="apptReminder">
                <label class="custom-control-label" for="apptReminder">
                  Remind me to make an appointment every 
                  <select>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>
                </label>
              </div>
              <button class="btn btn-primary">Edit reminder preferences</button>
            </div>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-3 offset-lg-0 col-lg-3">
          <div class="panel">
            <div class="panel-header">
              My actions
            </div>
            <div class="panel-body">
              <strong>My period</strong>
                <button class="btn btn-primary" data-toggle="modal" data-target="#startPeriodModal" ng-show="!userIsOnPeriod">Record start of period</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#endPeriodModal" ng-show="userIsOnPeriod">Record end of period</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#periodSymptomModal" ng-show="userIsOnPeriod">Add period symptoms</button>
              <strong>My perscription</strong>
                <button class="btn btn-primary" data-toggle="modal" data-target="#prescriptionModal">Change/add prescription</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#prescriptionSymptomModal">Add prescription symptoms</button>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="nameModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change preferred name</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container" action="/changeName" method="post">
              <div class="form-group">
                <label>Preferred Name</label>
                <input type="preferredName" class="form-control" name="preferredName">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--  Record start of period modal  -->
    <div class="modal fade" id="startPeriodModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Record Period Start</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container">
              <div class="form-group">
                <label>Enter Start Date</label>
                <input type="date" class="form-control" id="startPeriod" ng-model="startPeriod">
              </div>
             <button type="submit" class="btn btn-primary" ng-click="recordStartPeriod()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--  Record end of period modal  -->
    <div class="modal fade" id="endPeriodModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Record Period End</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container">
              <div class="form-group">
                <label>Enter End Date</label>
                <input type="date" class="form-control" ng-model="endPeriod">
              </div>
             <button type="submit" class="btn btn-primary" ng-click="recordEndPeriod()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Period Symptoms Modal -->
    <div class="modal fade" id="periodSymptomModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Period Symptoms</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container">
              <div class="form-group">
                <label for="symptomDate">Symptom Date</label>
                <input name="symptomDate" type="date" class="form-control" ng-model="symptomDate">
              </div>
              <div class="form-group">
                <span class="btn-group-label">Cramps: </span>
                <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomCramps" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomCramps" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomCramps" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomCramps" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <span class="btn-group-label">Nausea: </span>
                <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomNausea" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomNausea" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomNausea" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomNausea" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <span class="btn-group-label">Headache: </span>
                <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomHeadache" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomHeadache" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomHeadache" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomHeadache" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <span class="btn-group-label">Flow: </span>
                <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomFlow" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomFlow" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomFlow" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomFlow" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <span class="btn-group-label">Lower back pain: </span>
                <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomBackPain" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBackPain" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBackPain" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBackPain" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <span class="btn-group-label">Bloating: </span>
                  <div class="symptom-btns">
                  <label>
                    <input type="radio" ng-model="symptomBloating" ng-value="0" checked> None
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBloating" ng-value="1"> Low
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBloating" ng-value="2"> Moderate
                  </label>
                  <label>
                    <input type="radio" ng-model="symptomBloating" ng-value="3"> Severe
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea ng-model="notes"></textarea>
              </div>
             <button type="submit" class="btn btn-primary" ng-click="recordPeriodSymptoms()">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Prescription Modal-->
    <div class="modal fade" id="prescriptionModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Presciption</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container" action="/enterPrescription" method="post">
              <div class="form-group">
                <label>Enter Prescription</label>
                <input type="prescription" class="form-control" name="prescription">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Prescription Symptoms Modal-->
    <div class="modal fade" id="prescriptionSymptomModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Prescription Symptoms</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-container" action="/enterPrescriptionSymptoms" method="post">
              <div class="form-group">
                <label>Enter Symptoms</label>
                <input type="prescriptionSymptoms" class="form-control" name="prescriptionSymptoms">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ../templates/footer.ejs %>
    <script src="resources/js/profile.js"></script>
  </body>
</html>