body {
  background-color: #e8ecef;
}

.modal-body .form-container {
  padding: 10px;
}

.page-header {
  margin-top: 20px;
  text-align: center;
}

.secondary-page-header{
  margin-top: 150px;
  text-align: center;
}

.jumbotron{
  margin-top: 50px;
  text-align:center;
}

.jumbotron h1{
  font-weight: normal;
}

.jumbotron p{
  text-align:center;
}

.jumbotron btn {
  display:inline-block;
}

.panel-container {
  margin-top: 20px;
}

.dashboard-panel-container {
  margin-top: 50px;
}

.panel {
  margin-bottom: 20px;
}

.dashboard-panel {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.panel-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.25rem;
}

.panel-body {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.btn {
  margin-bottom: 10px;
  display: block;
}

.btn-group-label {
  margin-right: 15px;
  float: left;
}

.symptom-btns {
  text-align: right;
}

textarea {
  width: 100%;
  resize: none;
}

.alert {
  margin-top: 15px;
}

.btn-inline {
  display: inline;
  margin-right: 10px;
}

.logo-nav {
  width: 100px;
}

.btn-primary {
  background-color: #51bcb6;
  border-color: #51bcb6;
}

.btn-primary:hover, .btn-primary:active, .btn-outline-primary:hover {
  background-color: #418e8a!important;
  border-color: #418e8a!important;
}

.btn-primary:disabled {
  background-color: #a4d6d3;
  border-color: #a4d6d3;
}

.btn-outline-primary {
  color: #51bcb6;
  border-color: #51bcb6;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
  background-color: #51bcb6!important;
  border-color: #51bcb6!important
}

.btn-primary:focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(81,188,182,.5)!important;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #51bcb6;
  border-color: #418e8a;
}

.btn-link {
  text-decoration: none!important;
}

#log-out {
  width: 85px;
}

#save-preferences {
  float: right;
}

.float-container {
  height: 38px;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

.reminder-group {
  margin-bottom: 15px;
}

.btn-container {
  margin-bottom: 20px;
}

.badge {
  background-color: #51bcb6;
}

#my-actions .btn, #my-information .btn {
  width: 100%;
}

.logo {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
}

.dashboard-panel {
  text-align: center;
  font-size: 18px;
  min-height: 220px;
}

.dashboard-panel .btn {
  width: 100%;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.modal { 
  overflow: auto !important;
}

.scroll {
  max-height: 220px;
  overflow-y: auto;
}

.search .form-group {
  width: 500px;
  margin: auto;
}

.search .form-control {
  width: 200px;
  display: inline-block;
}

.search .btn {
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #save-preferences {
    float: none;
    width: 100%;
  }
  
  .secondary-page-header{
    margin-top: 50px;
  }
  
  .jumbotron{
    margin-top: 0px;
  }
  
  .scroll {
    max-height: none;
  }
  
  .search .form-group {
    width: auto;
    text-align: center;
  }

  .search .form-control {
    display: block;
    margin: auto;
    width: 100%;
  }

  .search .btn {
    margin-top: 5px;
  }
  
  .mobile-align {
    text-align: left;
  }
  
  .mobile-block {
    display: block;
  }
}