body {
  background-color: #e8ecef;
}

.modal-body .form-container {
  padding: 10px;
}

.page-header {
  margin-top: 20px;
  text-align: center;
}

.secondary-page-header{
  margin-top: 150px;
  text-align: center;
}

.jumbotron{
  margin-top: 150px;
  text-align:center;
}

.jumbotron h1{
  font-weight: normal;
}

.jumbotron p{
  text-align:center;
}

.jumbotron btn {
  display:inline-block;
}

.panel-container {
  margin-top: 20px;
}

.dashboard-panel-container {
  margin-top: 50px;
}

.panel {
  margin-bottom: 20px;
}

.dashboard-panel {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.panel-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
}

.panel-body {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.btn {
  margin-bottom: 10px;
  display: block;
}

.btn-index {
  margin-right: 10px;
  display:inline
}

.btn-group-label {
  margin-right: 15px;
  float: left;
}

.symptom-btns {
  text-align: right;
}

textarea {
  width: 100%;
  resize: none;
}

.alert {
  margin-top: 15px;
}

.btn-inline {
  display: inline;
  margin-right: 10px;
}