<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Obie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" ng-class="{'active' : isDashboard}" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{'active' : isProfile}" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{'active' : isHistory}" href="/history">History</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <button id="log-out" class="btn btn-secondary">Log out</button>
    </ul>
  </div>
</nav>